.container {
  display: flex;
  justify-content: space-around;
  background-color: red;
  padding-block: 10px;
  width: 100vw;
  position: fixed;
  color: white;
}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: 12px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline: 5px;
}

 